.auth {
    align-self: center;

    &__heading {
        margin-bottom: 20px;
        font-size: 3.6rem;

        @media screen and (max-width: $sm) {
            font-size: 3rem;
        }
    }

    &__subheading {
        font-size: 2.4rem;
    }

    &__forms {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        min-height: 300px;
    }

    &__forms-item {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        max-width: 400px;
        transition: opacity 0.4s ease-out, visibility 0.4s ease-out;

        &--hidden {
            opacity: 0;
            visibility: hidden;
        }
    }
}
