.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__heading {
        font-size: 14rem;
        letter-spacing: 15px;

        @media screen and (max-width: $sm) {
            font-size: 12rem;
            letter-spacing: 10px;
        }
    }

    &__text {
        font-size: 2.6rem;
        text-align: center;
    }

    &__button {
        margin-top: 30px;
    }
}
