.recent {
    &--full-height {
        display: flex;
        flex-direction: column;
        height: 100%;

        .recent__content {
            flex: 1;
            overflow-y: auto;
            @include custom-scroll-bar();
        }

        .recent__list {
            max-height: none;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        .loader {
            align-self: center;
        }
    }

    &__list {
        list-style-type: none;
    }

    &__list-item {
        padding: 16px 10px 16px 0;
        border-bottom: 1px solid $gray-light;

        &:last-child {
            border: none;
        }

        &--placeholder {
            padding: 26px 0;
            border: none;
            font-size: 2rem;
            text-align: center;
            text-transform: uppercase;
        }

        &--error {
            color: $red;
        }

        &--inactive {
            opacity: 0.4;
            pointer-events: none;
        }
    }

    &__view-all {
        display: flex;
        justify-content: center;
        height: 100%;
        padding: 16px 0 20px;
        text-align: center;

        &--hidden {
            display: none;
        }
    }
}
