.upload-files {
    display: flex;
    flex-direction: column;
    width: 695px;

    @media screen and (max-width: $md) {
        width: 100%;
    }

    &--done {
        .upload-files__button--cancel {
            display: none;
        }

        .upload-files__button--done {
            display: inline-block;
        }
    }

    &__list {
        max-height: 300px;
        padding: 10px 0;
        overflow-y: auto;
        margin-bottom: 30px;
        list-style-type: none;
        @include custom-scroll-bar();
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr 30px;
        column-gap: 10px;
        align-items: center;
        margin-bottom: 15px;

        @media screen and (max-width: $sm) {
            grid-template-columns: 1.5fr 1fr 20px;
        }

        &--done,
        &--error,
        &--cancelled {
            .upload-files__progress {
                display: none;
            }

            .upload-files__abort {
                display: none;
            }

            .upload-files__message {
                display: block;
            }
        }

        &--done {
            color: $green;

            .upload-files__icon--error {
                display: none;
            }

            .upload-files__icon--done {
                display: block;
            }
        }

        &--error {
            color: $red;

            .upload-files__icon--done {
                display: none;
            }

            .upload-files__icon--error {
                display: block;
            }
        }

        &--cancelled {
            opacity: 0.5;

            .upload-files__icon--cancelled {
                display: block;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.6rem;

        @media screen and (max-width: $sm) {
            font-size: 1.2rem;
        }
    }

    &__status {
        overflow: hidden;
    }

    &__message {
        display: none;
        overflow: hidden;
        font-size: 1.4rem;
        white-space: nowrap;
        text-overflow: ellipsis;

        @media screen and (max-width: $sm) {
            font-size: 1.2rem;
        }
    }

    &__controls {
        justify-self: center;
    }

    &__icon {
        display: none;
        width: 20px;
        height: 20px;

        @media screen and (max-width: $sm) {
            width: 16px;
            height: 16px;
        }

        &--done {
            fill: $green;
        }

        &--error {
            fill: transparent;
            stroke: $red;
        }

        &--cancelled {
            fill: $black;
        }
    }

    &__button {
        align-self: center;

        &--done {
            display: none;
        }
    }
}
