.upload {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__dropzone {
        flex: 1;
        padding: 32px;
    }

    &__dropzone-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border: 2px dashed $gray;
        border-radius: 24px;
        color: $gray-dark;
        font-size: 2rem;
        line-height: 2.6rem;
        text-align: center;
        cursor: pointer;
        transition: border-color 0.3s ease-out, color 0.3s ease-out;

        &--hovered,
        &:hover,
        &:focus-visible {
            border-color: $purple;
            color: $purple;
            outline: none;
        }
    }
}
