.upload {
    &__dropzone {
        padding: 32px;
    }

    &__dropzone-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 200px;
        border: 2px dashed $gray;
        border-radius: 24px;
        color: $gray-dark;
        font-size: 2rem;
        line-height: 2.6rem;
        text-align: center;
        cursor: pointer;
        transition: border-color 0.3s ease-out, color 0.3s ease-out;

        &--hovered,
        &:hover,
        &:focus-visible {
            border-color: $blue;
            color: $blue;
            outline: none;
        }
    }
}
