.auth-form {
    color: $black;
    text-transform: uppercase;
    text-align: center;

    &--inactive {
        opacity: 0.5;
        pointer-events: none;
    }

    &__field {
        & + .auth-form__field {
            margin-top: 10px;
        }
    }

    &__controls {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__submit {
        margin-top: 20px;
        background-color: $purple;

        @media screen and (max-width: $sm) {
            padding: 8px 20px;
            font-size: 1.6rem;
            font-weight: 500;
        }

        &:disabled {
            opacity: 0.5;
        }
    }

    &__switch-form {
        max-width: 50%;
        margin-top: 25px;
        padding: 0;
        border: none;
        background-color: transparent;
        color: $black;
        font-size: 1.6rem;
        text-decoration: underline;
        cursor: pointer;
        transition: color 0.2s ease-in, opacity 0.2s ease-out;

        &:hover,
        &:focus-visible {
            color: $purple;

            @media screen and (max-width: $md) {
                color: $black;
            }
        }

        &:disabled {
            opacity: 0.5;
        }
    }
}
