.button {
    @include button-like();
    background-color: $purple;
    color: #ffffff;

    &--secondary {
        border-color: $gray-dark;
        background-color: transparent;
        color: $black;
    }

    &:hover,
    &:focus-visible {
        border-color: $purple;
        background-color: transparent;
        color: $purple;
    }
}
