.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -16px;
    padding: 16px 20px 0;
    border-top: 1px solid $gray-light;
    font-size: 1.6rem;

    &__sync {
        display: flex;
        align-items: center;

        &--error {
            color: $red;

            .footer__sync-icon--success {
                display: none;
            }

            .footer__sync-icon--error {
                display: block;
            }
        }
    }

    &__sync-icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: $green;

        &--error {
            display: none;
            fill: $red;
        }
    }
}
