.home-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid $gray-light;
    border-radius: 50%;
    background-color: #ffffff;
    color: $black;
    text-decoration: none;
    transition: all 0.3s ease-out;

    &--filled,
    &:hover,
    &:focus-visible {
        border-color: $purple;
        background-color: $purple;

        .home-link__icon {
            fill: #ffffff;
        }
    }

    &--filled {
        &:hover,
        &:focus-visible {
            border-color: $gray-light;
            background-color: #ffffff;

            .home-link__icon {
                fill: $purple;
            }
        }
    }

    &__icon {
        width: 16px;
        height: 16px;
        fill: $purple;
        transition: fill 0.3s ease-out;
    }
}
