.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @include round-highlight($blue-transparent, 30px);

    &--danger {
        @include round-highlight($red-transparent, 30px);
        .icon-button__icon {
            fill: $red;
        }
    }

    &:disabled {
        cursor: default;
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: $purple;

        @media screen and (max-width: $sm) {
            width: 16px;
            height: 16px;
        }
    }
}
