.progress {
    position: relative;
    height: 6px;
    border-radius: 24px;
    background-color: $gray-light;
    text-align: center;

    &--text {
        height: 16px;
        padding: 2px 0;

        .progress__text {
            display: inline-block;
        }
    }

    &__filler {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 24px;
        background-color: $purple;
    }

    &__text {
        position: relative;
        z-index: 100;
        display: none;
        font-size: 1.2rem;
        font-weight: 700;
    }
}
