.text-field {
    position: relative;
    display: flex;
    align-items: center;
    padding: 13px 24px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0 14px $blue-transparent;
    transition: border-color 0.2s ease-out, box-shadow 0.2s ease-out;

    &--invalid {
        border-color: $red;

        .text-field__error {
            visibility: visible;
            color: $red;
        }
    }

    &:focus-within {
        border-color: $purple;

        @media screen and (max-width: $xl) {
            border-color: $purple;
            box-shadow: inset 0 0 8px $purple;
        }

        @media screen and (max-width: $md) {
            box-shadow: none;
        }
    }

    @media screen and (max-width: $xl) {
        border-color: $purple;
        box-shadow: none;
    }

    &__icon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        fill: $purple;
    }

    &__label {
        display: none;
    }

    &__input {
        width: 100%;
        border: none;
        border-bottom: 1px solid transparent;
        background-color: transparent;
        color: $purple;
        font-size: 1.6rem;
        line-height: 2.4rem;

        &::placeholder {
            color: $purple;
        }

        &:focus {
            outline: none;
        }
    }

    &__error {
        position: absolute;
        bottom: 0;
        left: 58px;
        visibility: hidden;
        color: $red;
        font-size: 1.2rem;
        text-transform: none;
    }
}
