$black: #242634;
$purple: #6b72c2;
$red: #dc3545;
$yellow: #d1dc35;
$green: #198754;
$gray-dark: #cdd3d8;
$gray: #e2e6ea;
$gray-light: #ebeff2;

$black-transparent: rgba(36, 38, 52, 0.75);
$blue-transparent: rgba(67, 83, 255, 0.15);
$red-transparent: rgba(220, 53, 70, 0.15)
